<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nr-left">
            <li class="nav-item">
                <div class="d-flex nav_selector" href="#" id="new_text">
                    <div class="nav_selection">新規テキスト作成</div>
                </div>
            </li>
            <li class="nav-item" id="mark_property">
                <div class="d-flex nav_selector" href="#" id="markcolor_theme">
                    <div class="btn themeColor_indigator"></div>
                    <div class="nav_selection">テーマの詳細</div>
                </div>
            </li>
        </ul>
        <ui class="navbar-nav">
            <p class="col-form-label">@Session["UserName"]</p>
            <form class="form-inline ml-auto">
                <div class="form-contena">
                    <button class="btn btn-outline-success tr_collapse_left_margin" asp-controller="Home"
                            asp-action="SelectText">
                        ログアウト
                    </button>
                </div>
            </form>
        </ui>
       
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>