<div id="sidenav">
    <div id="sidenav_body">
        <div class="sidenav_body">

            <div class="sidenav_name text-center">
                <h2>新規テキスト作成</h2>
            </div>

            <div class="sidebar_cotent" name="new_text">
                <form class="form-signin">
                    <div class="form-group ">
                        @Html.TextBox("file_Name", "", new { @class = "form-control col-xs-2", id = "file_crate_text_button" })
                    </div>
                    <button class="btn btn-success btn-block" onclick="createFileName()">新規作成</button>
                </form>
            </div>


            <div class="sidebar_cotent" name="markcolor_theme">
                <ul class="list-group grup_small">
                    <li href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-center">
                            <div class="btn themeColor_indigator"></div>
                            <div class="ml-1">テーマの詳細</div>
                        </div>
                    </li>

                    <li href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-center">
                            <div class="btn themeColor_indigator"></div>
                            <div class="ml-1">テーマの詳細</div>
                        </div>
                    </li>
                </ul>
                <form class="form-signin">

                    <div class="form-group">
                        <input type="text" class="form-control col-xs-2" id="password" name="password" value=""
                               required="" title="名前">
                    </div>
                    <button type="submit" class="btn btn-success btn-block">ログイン</button>
                </form>
            </div>
        </div>
    </div>
    <div id="sidenav_overray"></div>
</div>