<!DOCTYPE html>
<html>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../wwwroot/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../wwwroot/css/central.css" />
    <link rel="stylesheet" href="../wwwroot/css/login.css" />
    <link rel="stylesheet" href="../wwwroot/css/navbar.css" />
    <link rel="stylesheet" href="../wwwroot/css/righPopup.css" />
    <link rel="stylesheet" href="../wwwroot/css/sideDrawer.css" />
</head>

<body>
    <div class="central_ontena">
        <div id="hoge" class="container">
            <div class="card login_contena">
                <p id="profile-name" class="profile-name-card">ログイン</p>
                <form class="form-signin">
                    <span id="reauth-email" class="reauth-email"></span>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required
                        autofocus>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </div>





    <script src="../wwwroot/lib/jquery/dist/jquery.js"></script>
    <script src="../wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="../wwwroot/lib/jquery/dist/jquery.min.js"></script>
    <script src="../wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../wwwroot/js/site.js"></script>
    <script src="../wwwroot/js/card.js"></script>
    <script src="../wwwroot/js/sideDrawer.js"></script>
    <script>
    </script>
</body>

</html>