<!DOCTYPE html>
<html>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../wwwroot/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../wwwroot/css/central.css" />
    <link rel="stylesheet" href="../wwwroot/css/login.css" />
    <link rel="stylesheet" href="../wwwroot/css/navbar.css" />
    <link rel="stylesheet" href="../wwwroot/css/righPopup.css" />
    <link rel="stylesheet" href="../wwwroot/css/sideDrawer.css" />
</head>

<body>

    <div class="navbar">
        <h2>Animated Sidenav Example</h2>
        <button>abcd</button>
    </div>
    <div>
        <div class="desk">
            <span class="nav-link" style="font-size:30px;cursor:pointer">&#9776; open</span>
            <p>Click on the element below to open the side navigation menu.</p>
            <ui>
                <li>
                    <p>大和</p>
                </li>
                <li>
                    <p>大和</p>
                </li>
                <li>
                    <p>大和</p>
                </li>
                <li>
                    <p>大和</p>
                </li>
            </ui>
        </div>


    </div>
    <div id="sidenav">
        <div id="sidenav_body">
            <div class="sidenav_body">
                <a class="closebtn">&times;</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Clients</a>
                <a href="#">Contact</a>
            </div>
        </div>
        <div id="sidenav_overray"></div>
    </div>

    <script src="../wwwroot/lib/jquery/dist/jquery.js"></script>
    <script src="../wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="../wwwroot/lib/jquery/dist/jquery.min.js"></script>
    <script src="../wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../wwwroot/js/site.js"></script>
    <script src="../wwwroot/js/card.js"></script>
    <script src="../wwwroot/js/sideDrawer.js"></script>
    <script>
    </script>
</body>

</html>