@{
    ViewData["Title"] = "纏めビュー";
}
<div>
    <div>
        <dic class="row marking-text-box mt-5">
            <div class="col-8 stat-widget-one stat-digit editablePlaceholder">
                市九郎とお弓は、江戸を逐電してから、東海道はわざと避けて、人目を忍びながら、東山道とうさんどうを上方へと志した。市九郎は、主殺しの罪から、絶えず良心の苛責を受けていた。が、けんぺき茶屋の女中上がりの、莫連者ばくれんもののお弓は、市九郎が少しでも沈んだ様子を見せると、
            </div>
            <div class="col-4 making-text-info">
                <div class="text-sourse-name">
                    メモ帳その１
                </div>
                <div class="text-sourse-upadte">
                    更新 : 2019/09/09
                </div>
            </div>
        </dic>

        <dic class="row marking-text-box mt-5">
            <div class="col-8 stat-widget-one stat-digit editablePlaceholder">
                市九郎とお弓は、江戸を逐電してから、東海道はわざと避けて、人目を忍びながら、東山道とうさんどうを上方へと志した。市九郎は、主殺しの罪から、絶えず良心の苛責を受けていた。が、けんぺき茶屋の女中上がりの、莫連者ばくれんもののお弓は、市九郎が少しでも沈んだ様子を見せると、
            </div>
            <div class="col-4 making-text-info">
                <div class="text-sourse-name">
                    メモ帳その１
                </div>
                <div class="text-sourse-upadte">
                    更新 : 2019/09/09
                </div>
            </div>
        </dic>
    </div>
</div>