@model string
@{
    ViewData["Title"] = "EditPage";
}
<div>
    <div class="container mt-5">
        <div class="stat-widget-one stat-digit editablePlaceholder" contenteditable="true">
            @Model.ToString();
        </div>
    </div>

    <div class="right-popup shadow rounded">
        <ul class="list-group">
            <li href="#" class="list-group-item list-group-item-action">
                <div class="d-flex align-items-center">
                    <div class="rounded themeColor_indigator"></div>
                    <div class="ml-1">テーマの詳細</div>
                </div>
            </li>

            <li href="#" class="list-group-item list-group-item-action">
                <div class="d-flex align-items-center">
                    <div class="rounded themeColor_indigator"></div>
                    <div class="ml-1">テーマの詳細</div>
                </div>
            </li>
        </ul>
    </div>
</div>