@model MVCFramework.Models.DataTransferObject.EditPageDto
@{
    ViewData["Title"] = "EditPage";
}
<div>
    <div class="container mt-5">
        <div class="stat-widget-one stat-digit editablePlaceholder" contenteditable="true">
            @Model.EditText
        </div>
    </div>

    @Html.Partial("~/Views/Pertail/_RigthPopup.cshtml", Model.MarkerList)
</div>