.card {
    border: none;
}

.btn-outline-dark, .btn-outline-dark:hover, .btn-outline-dark:active, .btn-outline-dark:focus, .btn-outline-dark:not(:disabled):not(.disabled):active {
    background: white;
    color: black;
    border: solid 2px darkgray;
    display: flex;
    padding: 10px 15px;
}

.file_name {
    font-size: 25px;
}

.file_date {
    color: rgb(95, 95, 95);
}

.file_icon {
    width: 50px;
    background: blue;
}
